@charset "utf-8";

@font-face{
	font-family:"noto";
	src:url(fonts/NotoSansKR-Medium.woff);
}

html,body{
	font-size:16px;
	font-family:"noto";
	margin:0;
	width:100%;
	height:100%;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:red;
}
img{
	vertical-align:bottom;
}
table,td,th{
	border:1px solid black;
	border-collapse:collapse;
}
*{
	margin:0; padding:0; box-sizing:border-box;
}

.container{
	width:100%;
	height:100%;
}
.header{
	width:100%;
	height:100%;
	background:url(../images/logo.png), url(../images/back2.jpg);
	background-repeat:no-repeat;
	background-size:100px, cover;
	background-position:right bottom, center;
	background-attachment:fixed;
}
.section-wrap{
	width:100%;
	height:100%;
	background:pink;
}
.section{
	width:100%;
	height:100%;
	border:1px solid black;
	float:left;
}
.footer{
	width:100%;
	height:100px;
	background:black;
	color:white;
	clear:both;
	float:left;
}

.logo{
	position:relative;
	width:100px;
	height:100px;
	margin:auto;
	top:20%;
	background:transparent;
	opacity:0;
	transform:scale(0);
	animation-name:logoani;
	animation-duration:1s;
	animation-fill-mode:forwards;
}
.logo img{
	width:100%;
}
@keyframes logoani{
	0%{
		opacity:0;
		transform:scale(0);
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}

.nav{
	position:relative;
	width:80%;
	margin:auto;
	height:70px;
	background:trasnparent;
	top:30%;
	border:1px solid black;
	border-radius:5px;
}
.s-button{
	width:50px;
	height:50px;
	background:transparent;
	border:none;
	position:absolute;
	bottom:20px;
	font-size:20px;
	
}
.nav>ul{
	list-style:none;
	width:100%;
	text-align:center;
	
}
.nav>ul>li{
	display:inline-block;
	width:17%;
	
	height:50px;
	margin-top:10px;
}
.nav>ul>li>a{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.5);
	display:table;
}
.nav>ul>li>a>span{
	display:table-cell;
	vertical-align:middle;
}

/* 추가 */
.s0{
	background:url(../images/back1.jpg);
	
}
.s1{
	background:url(../images/back3.jpg);
	
}
.s2{
	background:url(../images/back4.jpg);
	
}
.s3{
	background:url(../images/back1.jpg);
	
}
.s4{
	background:url(../images/back3.jpg);
	
}
.section{
	background-attachment:fixed;
	background-size:cover;
	background-position:center;	
	transition:1s;
	opacity:0;
	
}
.s0-title,
.s1-title,
.s2-title,
.s3-title,
.s4-title{
	width:20%;
	height:50px;
	border:1px solid black;
	position:relative;
	top:20%;
	margin:auto;
}
.content{
	width:50%;
	height:200px;
	border:1px solid black;
	position:relative;
	top:30%;
	margin:auto;
}
